<div id="pergaminhos">
	<h3>Pergaminhos</h3>
	<ul>
		<% acoes.forEach(function (acao) { %>
            <%
				let txt_acao = ''
				switch (parseInt(acao.acao)) {
					case 1: txt_acao = 'aldeão(ões) coletando recursos '
						break
					case 2: txt_acao = 'enforcamento(s) programado'
						break
					case 3: txt_acao = 'aldeão(ões) em treinamento de história'
						break
					case 4: txt_acao = 'aldeão(ões) em treinamento de magia'
						break
				}

				let segundos_restantes = (acao.acao_termina_em - new Date().getTime()/ 1000)
 			%>
			<li>
				<%=acao.quantidade%> <%=txt_acao%>
                - <small>restam <span class="tempo_restante"><%=segundos_restantes%></span> segundos
				- <a href="/revogar_acao?id_acao=<%=acao._id%>">revogar ordem</a></small>
			</li>
		<%})%>
	</ul>
</div>